/* header font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,700;1,700&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */

/* regular text */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,700&display=swap');
/* font-family: 'IBM Plex Sans', sans-serif; */



/* Add CSS styling here */

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-size: 10px;
}

header {
    /* background-color:lightgrey; */
}

header .container .myName {
    display:flex;
    justify-content:center;
}

header .container .myName h1 {
    font-size: 5rem;
    margin:3vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

header .container nav {
    display:flex;
    justify-content:center;
    width:100vw;
    margin:1% 0;
    

}

header .container nav a {
    font-size:2rem;
    text-decoration:none;
    color:lightblue;
    padding:.5vw 5vw;
    font-family: 'IBM Plex Sans', sans-serif;

}

section .introContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column wrap;
}

section .introContainer .introHeader {
    margin:2% 4%;
    font-size: 3rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

section .introContainer p {
    font-size: 3rem;
    text-align:center;
    margin:2% 4%;
    font-family: 'IBM Plex Sans', sans-serif;
}

section .fullSizeDiv {
    width:100vw;
    height:50vh;
    background-color:lightblue;
    margin:2% 0;
}

section .lowerSectionDiv {
    display:flex;
    justify-content: space-evenly;
    flex-flow:row wrap;
    width:100vw;
    height:100vh;
    padding: 4%;
}

section .lowerSectionDiv .lowerSecImg {
    border:1px solid red;
    background-color:violet;
    background-image:url('https://www.picsum.photos/300');
    width:20vw;
    height:80vh;
    margin:2% auto;
    /* background-position: absolute; */
}

section .lowerSectionDiv .someText {
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

section .lowerSectionDiv .someText .lowerSecText {
    font-size: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
}

footer nav {
    display:flex;
    width:100%;
    background-color:lightgrey;
    justify-content: center;
    padding:2% auto;
}

footer nav a {
    font-size:2rem;
    text-decoration:none;
    background-color:lightblue;
    padding:.5vw 5vw;
    font-family: 'IBM Plex Sans', sans-serif;
}